<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="file" class="upload-input" name="myfiles[]" multiple (change)="onFileSelected($event)" />
		</div>  
      
		<button type="button" class="btn" name="uploadbutton" (click)="onUpload()">Upload file</button>        
        <button type="button" class="btn" *ngIf="message" (click)="DataView('DataView')">Analyse</button>
	</div>
    <div class ="message" >
    <h2 *ngIf="message" class="result">{{message.message}}</h2>
    </div>
</div>
<img src="assets/bank7.jpg"width="100%" height="610px">
  





